VERSION 1.0 CLASS
BEGIN
  MultiUse = -1  'True
END
Attribute VB_Name = "ApiResponse"
Option Explicit
Public StatusCode As Long
Public StatusText As String
Public Body As String
Public Headers As String
